.app {
  text-align: center;
  background-color: rgb(247, 247, 247);
  height: 100vh;
}

.appLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.appHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-color: #222;
  height: 40px;
  padding: 10px 15px;
  color: rgb(0, 196, 156);
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

.appIntro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
