{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": [1]
  },
  "plugins": [
    "flowtype"
  ],
  "env": {
    "browser": true,
    "node": true
  }
}